<form (ngSubmit)="onSubmit()">
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Shop Name</label>
        <input [(ngModel)]="ration.name" type="text" class="form-control" id="name" name="name" placeholder="Enter Shop Name">
      </div>
      <div class="form-group col-md-6">
        <label for="revenue">Revenue</label>
        <input [(ngModel)]="ration.revenue.revenue" type="text" class="form-control" id="revenue" name="revenue" disabled>
      </div>
    </div>                   
    <div class="form-group">
        <label for="owner">Owner Name</label>
        <input [(ngModel)]="ration.revenue.owner" type="text" class="form-control" name="owner" id="owner" placeholder="Enter the Owner name">
      </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input [(ngModel)]="ration.address" type="text" class="form-control" id="address" name="address"placeholder="Building no, street name">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input [(ngModel)]="ration.city" type="text" class="form-control" id="city" name="city">
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <input [(ngModel)]="ration.state" type="text" class="form-control" id="state" name="state">
         <!--<select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>-->
      </div>
      <div class="form-group col-md-2">
        <label for="country">Country</label>
        <input [(ngModel)]="ration.country" type="text" class="form-control" name="country" id="country">
      </div>
    </div><br>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>