<div class="text-center">
    <h1 class="display-3 font-weight-bold">Ration Shop Organisation</h1>
</div><br>
<br>
<blockquote class="blockquote text-right">
    <p class="mb-0">Don't waste food, it may fill up someone's stomach</p>
    <footer class="blockquote-footer">Human Beings</footer>
  </blockquote>
<br>
<br>
<br>
<img class="rounded mx-auto d-block" src="https://english.mathrubhumi.com/polopoly_fs/1.3174995.1574394866!/image/image.png_gen/derivatives/landscape_894_577/image.png" alt="image">
<br>
<br>
<br>




